@import url("./reset.css");

/* Register your custom font family and tell the browser where to find it. */

@font-face {
  font-family: 'KallistoLight';
  src: url('/fonts/Kallisto Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'KallistoMedium';
  src: url('/fonts/Kallisto Medium.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'KallistoBold';
  src: url('/fonts/Kallisto Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --hue: 197;

  /* dark mode defaults */
  --color-theme: var(--hue) 90% 2%;
  --color-theme-50: var(--hue) 85% 5%;
  --color-theme-100: var(--hue) 80% 15%;
  --color-theme-200: var(--hue) 70% 25%;
  --color-theme-300: var(--hue) 60% 35%;
  --color-theme-400: var(--hue) 50% 65%;
  --color-theme-500: var(--hue) 40% 75%;
  --color-theme-600: var(--hue) 30% 70%;
  --color-theme-700: var(--hue) 15% 80%;
  --color-theme-800: var(--hue) 10% 95%;
  --color-theme-900: var(--hue) 5% 98%;

  --bkg: linear-gradient(to top, #0f0915, #050307);
  --dark: #050307;
  --text: #f9f6fe;
  --accent: #000;
}



html,
body {
  font-family: 'Kallisto';
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(var(--color-theme-50));
  color: hsl(var(--color-theme-800));
}

h1 {
  font-family: 'KallistoBold', sans-serif;
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-family: 'KallistoBold', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-family: 'Kallisto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
p {
  font-family: "Kallisto", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.highlight {
  color: hsl(var(--color-theme-400));
  font-style: italic;
  font-weight: 600;
  font-size: 2.5rem;
}