@import url("./reset.css");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --container-max-width: 1200px;
  --container-max-width-narrow: 600px;
  --container-padding: 0 1rem;

  /* colors */
  --hue: 353;

  /* dark mode defaults */
  --color-theme: var(--hue) 2% 10%;
  --color-theme-50: var(--hue) 3% 15%;
  --color-theme-100: var(--hue) 4% 15%;
  --color-theme-200: var(--hue) 5% 25%;
  --color-theme-300: var(--hue) 6% 35%;
  --color-theme-400: var(--hue) 4% 65%;
  --color-theme-500: var(--hue) 4% 75%;
  --color-theme-600: var(--hue) 4% 85%;
  --color-theme-700: var(--hue) 4% 90%;
  --color-theme-800: var(--hue) 4% 95%;
  --color-theme-900: var(--hue) 4% 98%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(var(--color-theme-50));
  color: hsl(var(--color-theme-800));
}
