---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import { Icon } from "astro-icon";
import TrailerSection from "../components/TrailerSection.astro";

import { getCollection } from "astro:content";

// Get all entries from a collection.
const stories = await getCollection("stories");
const authors = await getCollection("authors");

const seo = {
  title: "21 Futures - Tales From The Timechain - The Bitcoin Anthology",
  description:
    "Dive into the depths of 21 brilliant minds as they unravel the future interwoven with the rise of bitcoin. From dystopian landscapes to utopian societies, '21 Futures' offers a view of possible worlds sculpted by the forces of mathematics.",
  image: "./panama-one.png",
};
---

<Layout seo={seo}>
  <Nav />
  <!-- Hero Section -->
  <header class="next-section">
    <img class="header__img" srcset="./assets/spaceLg.jpg 1999w, ./assets/spaceMd.jpg 1000w, ./assets/spaceSm.jpg 500w" src="./assets/space.jpg" alt="View of earth from space" />
    <div class="container header-container">
      <h1 class="h1 rise">21 Futures</h1>
      <h3 class="h3 rise subheading">Explore the universe of tomorrow.</p>
      <Icon class="rise subheading" name="fe:arrow-down" size="3rem" />
    </div>
  </header>
  <!-- First section -->
    <div class="trailer-section next-section">
      <TrailerSection 
        imagePosition="right"
        title="Bitcoin Anthology"
        description="21 Futures is a collection of short stories that explore the future of bitcoin and the world it is shaping. The stories are written by 21 authors from around the world, each with their own unique perspective on the future."
        buttonText="See stories"
        buttonLink="/stories"
        buttonIcon="fe:arrow-right"
        videoSrc="/21f_trailer.mp4"/>
    </div>
    <div class="trailer-section next-section">
      <TrailerSection 
        imagePosition="left"
        title="Who knows the future?"
        description="21 Futures is a collection of short stories that explore the future of bitcoin and the world it is shaping. The stories are written by 21 authors from around the world, each with their own unique perspective on the future."
        buttonText="The Authors"
        buttonLink="/authors"
        buttonIcon="fe:arrow-right"
        videoSrc="/21f_shiro.mp4"/>
    </div>
    <!-- Third section -->
    <div class="presale next-section" id="presale">
      <h2><span class="highlight">PRESALE</span></h2>
      <p class="h3 subheading">
        Available for pre-order now. The book will be
        released on the 21st of December 2023. All pre-orders will be shipped
        before the release date.
      </p>
      <div class="buybutton" id="product-component-1698234084361"></div>
    </div>
</Layout>

<style>
  h1 {
    font-size: clamp(2.5rem, 6vw + 1rem, 6rem);
    font-size: bolder;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }

  .h2 {
    font-size: clamp(1.8rem, 4vw + 1rem, 3.5rem);
    font-size: bolder;
    line-height: 1.1;
    color: hsl(var(--color-theme-900));
  }

  .h3 {
    font-size: clamp(1.2rem, 3vw + 1rem, 2.2rem);
    line-height: 1.1;
    color: hsl(var(--color-theme-900));
    max-width: 600px;
  }

  .subheading {
    color: hsl(var(--color-theme-900));
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  header {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    position: relative;
  }

  .header__img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .container {
    margin-inline: max((80% - 90rem) / 2, 1rem);
    padding-inline: 1rem;
  }

  .rise {
    opacity: 0;
    animation: rise 0.8s ease-in-out forwards;
  }

  .rise.subheading {
    animation: rise 1.2s ease-in-out forwards 0.5s;
  }

  @keyframes rise {
    0% {
      transform: translateY(2rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .header-container {
    display: grid;
    gap: 1rem;
    position: relative;
    top: -5vh;
    text-align: left;
  }

  .trailer-section {
    background-color: hsl(var(--color-theme-50));
    min-height: 100vh;
    margin-bottom: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
  }

  .presale {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .buybutton {
    margin-bottom: 3rem;
  }

@media (max-width: 767px) {
  .trailer-section {
    min-height: fit-content;
  }

}
</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
  document.addEventListener("click", function(event) {
    // Check if the clicked element or its parent has the 'next-section' class
    let button = event.target.closest(".next-section");
    if (button) {
      scrollToNextSection(button);
    }
  });
});

function scrollToNextSection(button) {
  // Start from the current button and look for the next '.next-section' in the DOM
  let nextSection = getNextSection(button);

  if (nextSection) {
    nextSection.scrollIntoView({ behavior: "smooth" });
  } else {
    console.log("No next '.next-section' found!");
  }
}

function getNextSection(element) {
  let nextElement = element.nextElementSibling;
  while (nextElement && !nextElement.matches(".next-section")) {
    nextElement = nextElement.nextElementSibling;
  }
  return nextElement;
}
</script>


<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL =
    "https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js";
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement("script");
    script.async = true;
    script.src = scriptURL;
    (
      document.getElementsByTagName("head")[0] ||
      document.getElementsByTagName("body")[0]
    ).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: "konsensus-network.myshopify.com",
      storefrontAccessToken: "34b6f153cba00ad78ed6697a27d3f6e3",
    });
    const discountCode = '21FUTURES';

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent("product", {
        id: "6981248811186",
        variantId: "41700132126898",
        node: document.getElementById("product-component-1698234084361"),
        moneyFormat: "%E2%82%AC%7B%7Bamount_with_comma_separator%7D%7D",
        options: {
          product: {
            styles: {
              product: {
                "@media (min-width: 601px)": {
                  "max-width": "calc(25% - 20px)",
                  "margin-left": "20px",
                  "margin-bottom": "50px",
                },
              },
              title: {
                "font-family": "Open Sans, sans-serif",
                "font-weight": "normal",
                color: "#fff",
              },
              button: {
                "font-family": "Open Sans, sans-serif",
                ":hover": {
                  "background-color": "#fff",
                },
                "background-color": "#fff",
                ":focus": {
                  "background-color": "#fff",
                },
                "border-radius": "15px",
                "padding-left": "50px",
                "padding-right": "50px",
                color: "#000",
                "font-weight": "bold",
              },
              price: {
                "font-family": "Open Sans, sans-serif",
                color: "#fff",
              },
              compareAt: {
                "font-family": "Open Sans, sans-serif",
                color: "#fff",
              },
              unitPrice: {
                "font-family": "Open Sans, sans-serif",
                color: "#fff",
              },
            },
            buttonDestination: function (that) {
              // based on onButtonClick => buttonDestination === 'checkout'
              // https://github.com/Shopify/buy-button-js/blob/master/src/components/product.js#L647
              that._userEvent('openCheckout');
              that.props.tracker.track('Direct Checkout', {});
              let checkoutWindow;
              if (that.config.cart.popup) {
                checkoutWindow = window.open('', 'checkout');
              } else {
                checkoutWindow = window;
              }
              const input = {
                lineItems: [
                  {
                    variantId: that.selectedVariant.id,
                    quantity: that.selectedQuantity,
                  },
                ],
              };

              that.props.client.checkout.create(input).then((checkout) => {
                let suffix = '&';
                if (checkout.webUrl.indexOf('?') === -1) suffix = '?';
                const checkoutUrl = `${checkout.webUrl}${suffix}discount=${discountCode}`;
                console.log(checkoutUrl);
                checkoutWindow.location = checkoutUrl;
              });
            },
            contents: {
              options: false,
            },
            text: {
              button: "Buy now",
            },
            googleFonts: ["Open Sans"],
          },
          productSet: {
            styles: {
              products: {
                "@media (min-width: 601px)": {
                  "margin-left": "-20px",
                },
              },
            },
          },
          modalProduct: {
            contents: {
              img: false,
              imgWithCarousel: true,
              button: false,
              buttonWithQuantity: true,
            },
            styles: {
              product: {
                "@media (min-width: 601px)": {
                  "max-width": "100%",
                  "margin-left": "0px",
                  "margin-bottom": "0px",
                },
              },
              button: {
                "font-family": "Open Sans, sans-serif",
                ":hover": {
                  "background-color": "#dca120",
                },
                "background-color": "#f4b324",
                ":focus": {
                  "background-color": "#dca120",
                },
                "border-radius": "15px",
                "padding-left": "50px",
                "padding-right": "50px",
              },
              title: {
                "font-family": "Helvetica Neue, sans-serif",
                "font-weight": "bold",
                "font-size": "26px",
                color: "#4c4c4c",
              },
              price: {
                "font-family": "Helvetica Neue, sans-serif",
                "font-weight": "normal",
                "font-size": "18px",
                color: "#4c4c4c",
              },
              compareAt: {
                "font-family": "Helvetica Neue, sans-serif",
                "font-weight": "normal",
                "font-size": "15.299999999999999px",
                color: "#4c4c4c",
              },
              unitPrice: {
                "font-family": "Helvetica Neue, sans-serif",
                "font-weight": "normal",
                "font-size": "15.299999999999999px",
                color: "#4c4c4c",
              },
            },
            googleFonts: ["Open Sans"],
            text: {
              button: "Add to cart",
            },
          },
          option: {},
          cart: {
            styles: {
              button: {
                "font-family": "Open Sans, sans-serif",
                ":hover": {
                  "background-color": "#dca120",
                },
                "background-color": "#f4b324",
                ":focus": {
                  "background-color": "#dca120",
                },
                "border-radius": "15px",
              },
            },
            text: {
              total: "Subtotal",
              button: "Checkout",
            },
            googleFonts: ["Open Sans"],
          },
          toggle: {
            styles: {
              toggle: {
                "font-family": "Open Sans, sans-serif",
                "background-color": "#f4b324",
                ":hover": {
                  "background-color": "#dca120",
                },
                ":focus": {
                  "background-color": "#dca120",
                },
              },
            },
            googleFonts: ["Open Sans"],
          },
        },
      });
    });
  }
})();
/*]]>*/
</script>
