---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";

import VideoPlayer from "../components/VideoPlayer";

import { getCollection } from "astro:content";

// Get all entries from a collection.
const stories = await getCollection("stories");
const authors = await getCollection("authors");

const seo = {
  title: "21 Futures - Tales From The Timechain - The Bitcoin Anthology",
  description:
    "Dive into the depths of 21 brilliant minds as they unravel the future interwoven with the rise of bitcoin. From dystopian landscapes to utopian societies, '21 Futures' offers a view of possible worlds sculpted by the forces of mathematics.",
  image: "./panama-one.png",
};
---

<Layout seo={seo}>
  <!-- Hero Section -->
  <div class="hero next-section">
    <div>
      <Icon name="fe:arrow-down" width="96" class="bounce"/>
    </div>
  </div>
  <!-- First section -->
    <div class="intro next-section">
        <div class="text-content">
            <h2>Bitcoin Anthology</h2>
            <p>
                From dystopian landscapes to
                utopian societies, <span class="highlight">21 Futures</span> offers a view of possible worlds
                sculpted by the forces of energy and mathematics.
            </p>
            <div class="buttons">
                <a href="/stories">
                  <div class="cta-button">
                      <span>Stories</span>  <!-- Example CTA Text -->
                      <Icon name="fe:arrow-right" width="36" class="bounce-right"/>
                  </div>
                </a>
                <div class="button-down">
                  <Icon name="fe:arrow-down" width="36" class="bounce"/>
                </div>
            </div>
        </div>
        <div class="image-content">
            <VideoPlayer src="/21f_shiro.mp4">
        </div>
    </div>
    <!-- Second section -->
    <div class="main next-section">
        <div class="image-content">
            <img src="/panama-one.png" alt="Main Image Description" />
        </div>
        <div class="text-content">
            <h2>Where does the truth lie?</h2>
            <p>
                <span class="highlight">21 Futures</span> is not just a collection of tales but a kaleidoscope of
                possible tomorrows. Each author, with their unique voice and vision,
                paints a world where bitcoin is more than just a currency. It's a
                revolution. A movement. A reshaping of society. Whether you're a
                crypto-enthusiast or a curious soul, this anthology promises to take you
                on a journey through the intricacies of human potential shaped by
                technology.
            </p>
            <div class="buttons">
                <Icon name="fe:arrow-down" width="36" class="bounce"/>
            </div>
        </div>
    </div>
    <!-- Third section -->
    <div class="presale next-section">
      <h2>Order the <span class="highlight">BOOK</span></h2>
      <p>
        <span class="highlight">21 Futures</span> is available for pre-order now. The book will be
        released on the 21st of December 2023. All pre-orders will be shipped
        before the release date.
      <div class="buybutton" id="product-component-1698234084361"></div>
    </div>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  .highlight {
    color: hsl(var(--color-theme-600));
    font-style: italic;
    font-weight: 400;
  }
  .presale {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .features {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  .buybutton {
    margin-bottom: 3rem;
  }
  .main {
    background-color: hsl(var(--color-theme-50));
    min-height: 100vh;
    margin-bottom: 3rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
  }
  .intro {
    background-color: hsl(var(--color-theme-50));
    min-height: 100vh;
    margin-bottom: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  .hero {
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

.text-content, .image-content {
    flex: 1;
}

.text-content {
  padding: 0 5rem;
  max-width: 40vw;
  text-align: center;
}
.image-content {
  padding: 0;
  margin: 0;
  max-width: 60vw;
}
.image-content img video {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  /* New: Shadow effect */
}

.cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--color-theme-200));  /* Adjust to desired color */
    border-radius: 25px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: hsl(var(--color-theme-100));  /* Adjust to a slightly darker color for hover */
}

.cta-button span {
    margin-right: 10px;  /* Spacing between text and icon */
    font-size: 1.2rem;
    font-weight: 600;
}

@media (max-width: 767px) {
    .intro, .main {
        flex-direction: column;        
    }
    .text-content {
        margin-bottom: 20px;
        max-width: 100vw;
    }
    .image-content {
        margin-bottom: 20px;
        max-width: 100vw;
    }
    .image-content img {
        width: 100%;
        height: auto;
    }
    .main img {
      visibility: hidden;
    }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce-right {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(5px);
  }
}

.bounce-right {
  animation: bounce-right 2s infinite;
}

</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
  document.addEventListener("click", function(event) {
    // Check if the clicked element or its parent has the 'next-section' class
    let button = event.target.closest(".next-section");
    if (button) {
      scrollToNextSection(button);
    }
  });
});

function scrollToNextSection(button) {
  // Start from the current button and look for the next '.next-section' in the DOM
  let nextSection = getNextSection(button);

  if (nextSection) {
    nextSection.scrollIntoView({ behavior: "smooth" });
  } else {
    console.log("No next '.next-section' found!");
  }
}

function getNextSection(element) {
  let nextElement = element.nextElementSibling;
  while (nextElement && !nextElement.matches(".next-section")) {
    nextElement = nextElement.nextElementSibling;
  }
  return nextElement;
}


</script>


<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL =
    "https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js";
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement("script");
    script.async = true;
    script.src = scriptURL;
    (
      document.getElementsByTagName("head")[0] ||
      document.getElementsByTagName("body")[0]
    ).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: "konsensus-network.myshopify.com",
      storefrontAccessToken: "34b6f153cba00ad78ed6697a27d3f6e3",
    });
    const discountCode = '21FUTURES';

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent("product", {
        id: "6981248811186",
        variantId: "41700132126898",
        node: document.getElementById("product-component-1698234084361"),
        moneyFormat: "%E2%82%AC%7B%7Bamount_with_comma_separator%7D%7D",
        options: {
          product: {
            styles: {
              product: {
                "@media (min-width: 601px)": {
                  "max-width": "calc(25% - 20px)",
                  "margin-left": "20px",
                  "margin-bottom": "50px",
                },
              },
              title: {
                "font-family": "Open Sans, sans-serif",
                "font-weight": "normal",
                color: "#fff",
              },
              button: {
                "font-family": "Open Sans, sans-serif",
                ":hover": {
                  "background-color": "#fff",
                },
                "background-color": "#fff",
                ":focus": {
                  "background-color": "#fff",
                },
                "border-radius": "15px",
                "padding-left": "50px",
                "padding-right": "50px",
                color: "#000",
                "font-weight": "bold",
              },
              price: {
                "font-family": "Open Sans, sans-serif",
                color: "#fff",
              },
              compareAt: {
                "font-family": "Open Sans, sans-serif",
                color: "#fff",
              },
              unitPrice: {
                "font-family": "Open Sans, sans-serif",
                color: "#fff",
              },
            },
            buttonDestination: function (that) {
              // based on onButtonClick => buttonDestination === 'checkout'
              // https://github.com/Shopify/buy-button-js/blob/master/src/components/product.js#L647
              that._userEvent('openCheckout');
              that.props.tracker.track('Direct Checkout', {});
              let checkoutWindow;
              if (that.config.cart.popup) {
                checkoutWindow = window.open('', 'checkout');
              } else {
                checkoutWindow = window;
              }
              const input = {
                lineItems: [
                  {
                    variantId: that.selectedVariant.id,
                    quantity: that.selectedQuantity,
                  },
                ],
              };

              that.props.client.checkout.create(input).then((checkout) => {
                let suffix = '&';
                if (checkout.webUrl.indexOf('?') === -1) suffix = '?';
                const checkoutUrl = `${checkout.webUrl}${suffix}discount=${discountCode}`;
                console.log(checkoutUrl);
                checkoutWindow.location = checkoutUrl;
              });
            },
            contents: {
              options: false,
            },
            text: {
              button: "Buy now",
            },
            googleFonts: ["Open Sans"],
          },
          productSet: {
            styles: {
              products: {
                "@media (min-width: 601px)": {
                  "margin-left": "-20px",
                },
              },
            },
          },
          modalProduct: {
            contents: {
              img: false,
              imgWithCarousel: true,
              button: false,
              buttonWithQuantity: true,
            },
            styles: {
              product: {
                "@media (min-width: 601px)": {
                  "max-width": "100%",
                  "margin-left": "0px",
                  "margin-bottom": "0px",
                },
              },
              button: {
                "font-family": "Open Sans, sans-serif",
                ":hover": {
                  "background-color": "#dca120",
                },
                "background-color": "#f4b324",
                ":focus": {
                  "background-color": "#dca120",
                },
                "border-radius": "15px",
                "padding-left": "50px",
                "padding-right": "50px",
              },
              title: {
                "font-family": "Helvetica Neue, sans-serif",
                "font-weight": "bold",
                "font-size": "26px",
                color: "#4c4c4c",
              },
              price: {
                "font-family": "Helvetica Neue, sans-serif",
                "font-weight": "normal",
                "font-size": "18px",
                color: "#4c4c4c",
              },
              compareAt: {
                "font-family": "Helvetica Neue, sans-serif",
                "font-weight": "normal",
                "font-size": "15.299999999999999px",
                color: "#4c4c4c",
              },
              unitPrice: {
                "font-family": "Helvetica Neue, sans-serif",
                "font-weight": "normal",
                "font-size": "15.299999999999999px",
                color: "#4c4c4c",
              },
            },
            googleFonts: ["Open Sans"],
            text: {
              button: "Add to cart",
            },
          },
          option: {},
          cart: {
            styles: {
              button: {
                "font-family": "Open Sans, sans-serif",
                ":hover": {
                  "background-color": "#dca120",
                },
                "background-color": "#f4b324",
                ":focus": {
                  "background-color": "#dca120",
                },
                "border-radius": "15px",
              },
            },
            text: {
              total: "Subtotal",
              button: "Checkout",
            },
            googleFonts: ["Open Sans"],
          },
          toggle: {
            styles: {
              toggle: {
                "font-family": "Open Sans, sans-serif",
                "background-color": "#f4b324",
                ":hover": {
                  "background-color": "#dca120",
                },
                ":focus": {
                  "background-color": "#dca120",
                },
              },
            },
            googleFonts: ["Open Sans"],
          },
        },
      });
    });
  }
})();
/*]]>*/
</script>
