---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import { Icon } from "astro-icon";
import TrailerSection from "../components/TrailerSection.astro";

import { getCollection } from "astro:content";

// Get all entries from a collection.
const stories = await getCollection("stories");
const authors = await getCollection("authors");

const seo = {
  title: "21 Futures - Tales From The Timechain",
  description:
    "Short stories about the future of bitcoin and the world it is shaping. Published by Konsensus Network.",
  image: "/heroSm.png",
};
---

<Layout seo={seo}>
  <Nav />
  <!-- Hero Section -->
  <header class="next-section">
    <img
      class="header__img"
      srcset="/heroSm.png 700w, /heroSm.png 1600w"
      sizes="(max-width: 700px) 100vw, 1600px"
      src="/heroSm.png"
      alt="21 Futures - Tales From The Timechain"
    />
    <div class="container header-container">
      <h1 class="h1 rise">21 Futures</h1>
      <h3 class="h3 rise" style="font-weight: semibold;">
        Tales from the Timechain. The first-ever bitcoin fiction anthology.
      </h3>
      <Icon
        class="rise"
        name="fe:arrow-down"
        style="color:rgba(2, 17, 24, 0.9);"
        size="2rem"
      />
    </div>
  </header>
  <!-- First section -->
  <div class="trailer-section next-section">
    <TrailerSection
      imagePosition="right"
      title="Bitcoin Anthology"
      description="Political dissidents scramble to cross the threshold to freedom. \n A decades-long hunt for keys incites a change in world order. \n A clear-blood dares to question the oppression of noderoids. \n A cryo-frozen oligarch wakes into his worst nightmare. \n A lowly space station miner buys a planet. \n \n In this book of diverse stories planted firmly in the bitcoin-verse, reality fractures into 21 futures. Some are wonderful, others terrifying.\n \n You are not prepared."
      buttonText="See stories"
      buttonLink="/stories"
      buttonIcon="fe:arrow-right"
      videoSrc="/21f_trailer.mp4"
    />
  </div>
  <div class="trailer-section next-section">
    <TrailerSection
      imagePosition="left"
      title="Reviews"
      description="“Before the first best-selling bitcoin novel hits shelves, before the first bitcoin blockbuster opens at your local theater—you will want to read this book” Eric Bies, Bitcoin Magazine. \n\n “21 Futures isn't just a book, it's a narrative revolution. From the tension of murder mysteries to the expanse of intergalactic dystopias, the anthology is a tapestry of transformation.” Amazon reviewer. \n\n “If you love bitcoin and you love sci-fi, this is the book for you!” Goodreads reviewer."
      buttonText="The Authors"
      buttonLink="/authors"
      buttonIcon="fe:arrow-right"
      videoSrc="/21f_shiro.mp4"
    />
  </div>
  <!-- Third section -->
  <div class="presale next-section" id="presale">
    <h2 class="h2" style="margin-bottom:0.5em;">
      <span class="highlight">A project for bitcoin:</span>
    </h2>
    <p class="subheading" >Great writing changes our minds; great stories speak to our hearts.</p>
    <p class="subheading" >21 Futures seeks to spread impactful stories and break the barriers that separate worlds.</p>
    <p class="subheading" >In partnership with Konsensus Network, 21 Futures is the home of bitcoin fiction. </p>
    <p class="subheading" >Follow our <a style="font-weight:bold" href="https://twitter.com/21Futures">social accounts</a> for news, reviews and discussion of all things narrative in the bitcoin space.</p>
    <p class="subheading" >Join our <a style="font-weight:bold" href="https://t.me/+9VjT18lr3mRkYTg8">Telegram group</a> to discuss financial sci-fi and related fiction.</p>
    
    <h2 class="h2" style="margin-bottom:0.5em;">
      <span class="highlight">Read the stories</span>
    </h2>
    <p class="subheading">Order Tales from the Timechain in paperback or eBook</p>

    <div
      class="buybutton"
      style="margin-top:2em;"
      id="product-component-1699881326177">
    </div>

    <p class="subheading">Read more stories on our <a style="font-weight:bold" href="https://konsensus.network/read/fiction/">fiction blog</a></p>
    <h2 class="h2" style="margin-bottom:0.5em;">
      <span class="highlight">21 Futures: Financial Fallout — coming 2025</span>
    </h2>
    <p class="subheading">We are accepting short-fiction submissions for our next anthology.</p>
    <a href="/submissions">
      <button class="button-64" role="button"><span class="text">Submissions open: Win $1,000</span></button>
    </a>
  </br>
  </br>
    <img
      src="https://cdn.sanity.io/images/pzu39djh/production/17ffcea6357954687533d9a60a175166cef9006a-861x1280.jpg"
      alt="21 Futures - Tales From The Timechain"
      width="40%"
    />
  </div>
</Layout>

<style>
  .h1 {
    font-size: clamp(2.5rem, 6vw + 1rem, 6rem);
    font-size: bolder;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: hsl(var(--color-theme-100));
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
  }

  .h2 {
    font-size: clamp(1.8rem, 4vw + 1rem, 3.5rem);
    font-size: bolder;
    line-height: 1.1;
    color: hsl(var(--color-theme-900));
    margin-top: 2em;
  }

  .h3 {
    font-size: clamp(1.2rem, 3vw + 1rem, 2.2rem);
    line-height: 1.1;
    font-size: bolder;
    color: hsl(var(--color-theme-900));
    font-family: "Kallisto Light", sans-serif;
    color: hsl(var(--color-theme-100));
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
  }

  .subheading {
    color: hsl(var(--color-theme-900));
    margin-bottom: 1em;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  header {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    position: relative;
  }

  .header__img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .container {
    margin-inline: max((80% - 90rem) / 2, 1rem);
    padding-inline: 1rem;
  }

  .rise {
    opacity: 0;
    animation: rise 0.8s ease-in-out forwards;
  }

  .rise.subheading {
    animation: rise 1.2s ease-in-out forwards 0.5s;
  }

  @keyframes rise {
    0% {
      transform: translateY(2rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .header-container {
    display: grid;
    gap: 1rem;
    position: relative;
    top: -5vh;
    text-align: center;
  }

  .trailer-section {
    background: linear-gradient(
      to right,
      hsl(var(--color-theme-50)),
      hsl(var(--color-theme-100))
    );
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    text-align: justify;
    white-space: pre-line;
  }

  .presale {
    min-height: 100vh;
    background: linear-gradient(
      to right,
      hsl(var(--color-theme-50)),
      hsl(var(--color-theme-100))
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .buybutton {
    margin-bottom: 3rem;
  }

  .shopify-buy__product-img-wrapper {
    border-radius: 15px;
  }

  @media (max-width: 767px) {
    .trailer-section {
      min-height: 90vh;
    }
  }
  
  .button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#465E50, #0b100f 50%,#927a55);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }

  .button-64:active,
  .button-64:hover {
    outline: 0;
  }

  .button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .button-64:hover span {
    background: none;
  }

  @media (min-width: 768px) {
    .button-64 {
      font-size: 24px;
      min-width: 196px;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.addEventListener("click", function (event) {
      // Check if the clicked element or its parent has the 'next-section' class
      let button = event.target.closest(".next-section");
      if (button) {
        scrollToNextSection(button);
      }
    });
  });

  function scrollToNextSection(button) {
    // Start from the current button and look for the next '.next-section' in the DOM
    let nextSection = getNextSection(button);

    if (nextSection) {
      nextSection.scrollIntoView({ behavior: "smooth" });
    } else {
      console.log("No next '.next-section' found!");
    }
  }

  function getNextSection(element) {
    let nextElement = element.nextElementSibling;
    while (nextElement && !nextElement.matches(".next-section")) {
      nextElement = nextElement.nextElementSibling;
    }
    return nextElement;
  }
</script>

<script type="text/javascript">
  /*<![CDATA[*/
  (function () {
    var scriptURL =
      "https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js";
    if (window.ShopifyBuy) {
      if (window.ShopifyBuy.UI) {
        ShopifyBuyInit();
      } else {
        loadScript();
      }
    } else {
      loadScript();
    }
    function loadScript() {
      var script = document.createElement("script");
      script.async = true;
      script.src = scriptURL;
      (
        document.getElementsByTagName("head")[0] ||
        document.getElementsByTagName("body")[0]
      ).appendChild(script);
      script.onload = ShopifyBuyInit;
    }
    function ShopifyBuyInit() {
      var client = ShopifyBuy.buildClient({
        domain: "konsensus-network.myshopify.com",
        storefrontAccessToken: "34b6f153cba00ad78ed6697a27d3f6e3",
      });
      const discountCode = "21FUTURES";

      ShopifyBuy.UI.onReady(client).then(function (ui) {
        ui.createComponent("product", {
          id: "8706216591709",
          node: document.getElementById("product-component-1699881326177"),
          moneyFormat: "%E2%82%AC%7B%7Bamount_with_comma_separator%7D%7D",
          options: {
            product: {
              styles: {
                product: {
                  "@media (min-width: 601px)": {
                    "max-width": "calc(25% - 20px)",
                    "margin-left": "20px",
                    "margin-bottom": "50px",
                  },
                },
                title: {
                  "font-family": "Open Sans, sans-serif",
                  "font-weight": "normal",
                  color: "#fff",
                },
                button: {
                  "font-family": "Open Sans, sans-serif",
                  ":hover": {
                    "background-color": "#fff",
                  },
                  "background-color": "#fff",
                  ":focus": {
                    "background-color": "#fff",
                  },
                  "border-radius": "15px",
                  "padding-left": "50px",
                  "padding-right": "50px",
                  color: "#000",
                  "font-weight": "bold",
                },
                price: {
                  "font-family": "Open Sans, sans-serif",
                  color: "#fff",
                },
                compareAt: {
                  "font-family": "Open Sans, sans-serif",
                  color: "#fff",
                },
                unitPrice: {
                  "font-family": "Open Sans, sans-serif",
                  color: "#fff",
                },
              },
              buttonDestination: function (that) {
                // based on onButtonClick => buttonDestination === 'checkout'
                // https://github.com/Shopify/buy-button-js/blob/master/src/components/product.js#L647
                that._userEvent("openCheckout");
                that.props.tracker.track("Direct Checkout", {});
                let checkoutWindow;
                if (that.config.cart.popup) {
                  checkoutWindow = window.open("", "checkout");
                } else {
                  checkoutWindow = window;
                }
                const input = {
                  lineItems: [
                    {
                      variantId: that.selectedVariant.id,
                      quantity: that.selectedQuantity,
                    },
                  ],
                };

                that.props.client.checkout.create(input).then((checkout) => {
                  let suffix = "&";
                  if (checkout.webUrl.indexOf("?") === -1) suffix = "?";
                  const checkoutUrl = `https://bitcoinbook.shop/products/21-futures-tales-from-the-timechain?ref=${discountCode}`;
                  console.log(checkoutUrl);
                  checkoutWindow.location = checkoutUrl;
                });
              },
              contents: {
                options: false,
              },
              text: {
                button: "Buy now",
              },
              googleFonts: ["Open Sans"],
            },
            productSet: {
              styles: {
                products: {
                  "@media (min-width: 601px)": {
                    "margin-left": "-20px",
                  },
                },
              },
            },
            modalProduct: {
              contents: {
                img: false,
                imgWithCarousel: true,
                button: false,
                buttonWithQuantity: true,
              },
              styles: {
                product: {
                  "@media (min-width: 601px)": {
                    "max-width": "100%",
                    "margin-left": "0px",
                    "margin-bottom": "0px",
                  },
                },
                button: {
                  "font-family": "Open Sans, sans-serif",
                  ":hover": {
                    "background-color": "#dca120",
                  },
                  "background-color": "#f4b324",
                  ":focus": {
                    "background-color": "#dca120",
                  },
                  "border-radius": "15px",
                  "padding-left": "50px",
                  "padding-right": "50px",
                },
                title: {
                  "font-family": "Helvetica Neue, sans-serif",
                  "font-weight": "bold",
                  "font-size": "26px",
                  color: "#4c4c4c",
                },
                price: {
                  "font-family": "Helvetica Neue, sans-serif",
                  "font-weight": "normal",
                  "font-size": "18px",
                  color: "#4c4c4c",
                },
                compareAt: {
                  "font-family": "Helvetica Neue, sans-serif",
                  "font-weight": "normal",
                  "font-size": "15.299999999999999px",
                  color: "#4c4c4c",
                },
                unitPrice: {
                  "font-family": "Helvetica Neue, sans-serif",
                  "font-weight": "normal",
                  "font-size": "15.299999999999999px",
                  color: "#4c4c4c",
                },
              },
              googleFonts: ["Open Sans"],
              text: {
                button: "Add to cart",
              },
            },
            option: {},
            cart: {
              styles: {
                button: {
                  "font-family": "Open Sans, sans-serif",
                  ":hover": {
                    "background-color": "#dca120",
                  },
                  "background-color": "#f4b324",
                  ":focus": {
                    "background-color": "#dca120",
                  },
                  "border-radius": "15px",
                },
              },
              text: {
                total: "Subtotal",
                button: "Checkout",
              },
              googleFonts: ["Open Sans"],
            },
            toggle: {
              styles: {
                toggle: {
                  "font-family": "Open Sans, sans-serif",
                  "background-color": "#f4b324",
                  ":hover": {
                    "background-color": "#dca120",
                  },
                  ":focus": {
                    "background-color": "#dca120",
                  },
                },
              },
              googleFonts: ["Open Sans"],
            },
          },
        });
      });
    }
  })();
  /*]]>*/
</script>