---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import { Icon } from "astro-icon/components";
import TrailerSection from "../components/TrailerSection.astro";

import { getCollection } from "astro:content";

// Get all entries from a collection.
const stories = await getCollection("stories");
const authors = await getCollection("authors");

const seo = {
  title: "21 Futures - Financial Fallout",
  description:
    "Anthology competition where you can Win $1,000 and get your story published by Konsensus Network.",
  image: "/21f2.jpeg",
};
---

<Layout seo={seo}>
  <Nav />
  <!-- Hero Section -->
  <header class="next-section">
    <img
      class="header__img"
      srcset="/heroSm.png 700w, /heroSm.png 1600w"
      sizes="(max-width: 700px) 100vw, 1600px"
      src="/heroSm.png"
      alt="21 Futures - Tales From The Timechain"
    />
    <div class="container header-container">
      <h1 class="h1 rise">21 Futures</h1>
      <p class="h3 rise" style="font-weight: semibold;">
        Freedom through stories
      </p>
      <p class="h3 rise">
        A cypherpunk fiction project to secure our privacy, personal liberty and financial freedom
      </p>
      <div class="mx-auto">
        <Icon
        class="rise"
        name="mdi:arrow-down"
        style="color:rgba(2, 17, 24, 0.9);justify-center;align-center;cursor:pointer;"
        size="3rem"
      />
      </div>
    </div>
  </header>
    <!-- First section -->
  <div class="trailer-section next-section">
    <TrailerSection
      imagePosition="right"
      title="The World's First Bitcoin Fiction Anthology"
      description="Noderoid cyborgs, hidden treasure in the Sahara, and a new world order in Panama. \n\n Some of bitcoin’s brightest minds outline how the new era of sound money could affect humanity.\n\n In this book of diverse stories planted firmly in the bitcoin-verse, reality fractures into 21 futures. Some are wonderful, others terrifying.\n\n Including stories from Knut Svanholm, Ioni Appelberg, and Niko Laamanen."
      buttonText="See stories"
      buttonLink="/stories"
      buttonIcon="mdi:arrow-right"
      videoSrc="https://cdn.sanity.io/files/pzu39djh/production/4a9a9f04c1c4e90484a6ce51eeb5857dabf5c7a3.mp4"
    />

  </div>
  <div class="intermediate-section"> 
    <button onclick="window.location.href='https://bitcoinbook.shop/products/21-futures-tales-from-the-timechain?Format=Paperback';" class="button-buy">
      Buy the book
    </button>
  </div>
  <div class="trailer-section next-section">
    <TrailerSection
      imagePosition="left"
      title="Reviews"
      description="“Before the first best-selling bitcoin novel hits shelves, before the first bitcoin blockbuster opens at your local theater—you will want to read this book” Eric Bies, Bitcoin Magazine. \n\n “21 Futures isn't just a book, it's a narrative revolution. From the tension of murder mysteries to the expanse of intergalactic dystopias, the anthology is a tapestry of transformation.” Amazon reviewer. \n\n “If you love bitcoin and you love sci-fi, this is the book for you!” Goodreads reviewer."
      buttonText="The Authors"
      buttonLink="/authors"
      buttonIcon="fe:arrow-right"
      videoSrc="/21f_shiro.mp4"
    />
  </div>
  <!-- Third section -->
  <div class="presale next-section" id="presale">
    <h2 class="h2" style="margin-bottom:0.5em;">
      <span class="highlight">A project for bitcoin:</span>
    </h2>
    <p class="subheading" >Great writing changes our minds; great stories speak to our hearts.</p>
    <p class="subheading" >21 Futures seeks to spread impactful stories and break the barriers that separate worlds.</p>
    <p class="subheading" >In partnership with Konsensus Network, 21 Futures is the home of bitcoin fiction. </p>
    <p class="subheading" >Follow our <a style="font-weight:bold" href="https://twitter.com/21Futures">social accounts</a> for news, reviews and discussion of all things narrative in the bitcoin space.</p>
    <p class="subheading" >Join our <a style="font-weight:bold" href="https://t.me/+9VjT18lr3mRkYTg8">Telegram group</a> to discuss financial sci-fi and related fiction.</p>
    
    <h2 class="h2" style="margin-bottom:0.5em;">
      <span class="highlight">Get the Book</span>
    </h2>
    <p class="subheading">Order Tales from the Timechain in paperback or eBook</p>

    <div
      class="buybutton"
      style="margin-top:2em;"
      id="product-component-1699881326177">
    </div>

    <p class="subheading">Read more stories on our <a style="font-weight:bold" href="https://konsensus.network/read/fiction/">fiction blog</a></p>
    <h2 class="h2" style="margin-bottom:0.5em;">
      <span class="highlight">21 Futures: Financial Fallout — coming 2025</span>
    </h2>
    <img
    class="image"
    src="https://cdn.sanity.io/images/pzu39djh/production/17ffcea6357954687533d9a60a175166cef9006a-861x1280.jpg"
    alt="21 Futures - Tales From The Timechain"
  />
    <p class="subheading">Sorry! We are no longer accepting submissions.</p>
  </br>

  </div>
</Layout>

<style>
  .h1 {
    font-size: clamp(2.5rem, 6vw + 1rem, 6rem);
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: hsl(var(--color-theme-100));
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0) 100%);
  }

  .h2 {
    font-size: clamp(1.8rem, 4vw + 1rem, 3.5rem);
    line-height: 1.1;
    color: hsl(var(--color-theme-900));
    margin-top: 2em;
  }

  .h3 {
    font-size: clamp(1.2rem, 3vw + 1rem, 2.2rem);
    line-height: 1.1;
    color: hsl(var(--color-theme-900));
    font-family: "Kallisto Light", sans-serif;
    color: hsl(var(--color-theme-100));
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0) 100%);
  }

  .subheading {
    color: hsl(var(--color-theme-900));
    margin-bottom: 1em;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  header {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    position: relative;
    cursor: pointer;
  }

  .header__img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .container {
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .rise {
    opacity: 0;
    animation: rise 0.8s ease-in-out forwards;    
  }

  .rise.subheading {
    animation: rise 1.2s ease-in-out forwards 0.5s;
  }

  .image {
    height: 500px;
    object-fit: cover;
    margin-block: 1em;
  }
  @keyframes rise {
    0% {
      transform: translateY(2rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .header-container {
    display: grid;
    gap: 1rem;
    position: relative;
    top: -5vh;
    text-align: center;
  }

  .trailer-section {
    background: linear-gradient(
      to right,
      hsl(var(--color-theme-50)),
      hsl(var(--color-theme-100))
    );
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    text-align: justify;
    white-space: pre-line;
  }

  .presale {
    min-height: 100vh;
    background: linear-gradient(
      to right,
      hsl(var(--color-theme-50)),
      hsl(var(--color-theme-100))
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .buybutton {
    margin-bottom: 3rem;
  }

  .shopify-buy__product-img-wrapper {
    border-radius: 15px;
  }

  @media (max-width: 767px) {
    .trailer-section {
      min-height: 90vh;
    }
  }

  .p {
    font-size: 1.2em;  
  }
  
  .intermediate-section {
    background: linear-gradient(
      to right,
      hsl(var(--color-theme-50)),
      hsl(var(--color-theme-100))
    );  
  }

  .button-buy {
      position: absolute;
      right: 40%;
      left: 40%;
      font-family: "Open Sans", sans-serif !important;
      background-color: #fff;
      border-radius: 15px;
      padding-left: 50px;
      padding-right: 50px;
      padding: 15px;
      color: #000;
      font-weight: bold;
  }

  .button-buy:hover {
      background-color: #fff;
  }

  .button-buy:focus {
      background-color: #fff;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.addEventListener("click", function (event) {
      // Check if the clicked element or its parent has the 'next-section' class
      let button = event.target.closest(".next-section");
      if (button) {
        scrollToNextSection(button);
      }
    });
  });

  function scrollToNextSection(button) {
    // Start from the current button and look for the next '.next-section' in the DOM
    let nextSection = getNextSection(button);

    if (nextSection) {
      nextSection.scrollIntoView({ behavior: "smooth" });
    } else {
      console.log("No next '.next-section' found!");
    }
  }

  function getNextSection(element) {
    let nextElement = element.nextElementSibling;
    while (nextElement && !nextElement.matches(".next-section")) {
      nextElement = nextElement.nextElementSibling;
    }
    return nextElement;
  }
</script>

<script type="text/javascript">
  /*<![CDATA[*/
  (function () {
    var scriptURL =
      "https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js";
    if (window.ShopifyBuy) {
      if (window.ShopifyBuy.UI) {
        ShopifyBuyInit();
      } else {
        loadScript();
      }
    } else {
      loadScript();
    }
    function loadScript() {
      var script = document.createElement("script");
      script.async = true;
      script.src = scriptURL;
      (
        document.getElementsByTagName("head")[0] ||
        document.getElementsByTagName("body")[0]
      ).appendChild(script);
      script.onload = ShopifyBuyInit;
    }
    function ShopifyBuyInit() {
      var client = ShopifyBuy.buildClient({
        domain: "konsensus-network.myshopify.com",
        storefrontAccessToken: "34b6f153cba00ad78ed6697a27d3f6e3",
      });
      const discountCode = "21FUTURES";

      ShopifyBuy.UI.onReady(client).then(function (ui) {
        ui.createComponent("product", {
          id: "8706216591709",
          node: document.getElementById("product-component-1699881326177"),
          moneyFormat: "%E2%82%AC%7B%7Bamount_with_comma_separator%7D%7D",
          options: {
            product: {
              styles: {
                product: {
                  "@media (min-width: 601px)": {
                    "max-width": "calc(25% - 20px)",
                    "margin-left": "20px",
                    "margin-bottom": "50px",
                  },
                  "width": "110%"
                },
                title: {
                  "font-family": "Open Sans, sans-serif",
                  "font-weight": "normal",
                  color: "#fff",
                },
                button: {
                  "font-family": "Open Sans, sans-serif",
                  ":hover": {
                    "background-color": "#fff",
                  },
                  "background-color": "#fff",
                  ":focus": {
                    "background-color": "#fff",
                  },
                  "border-radius": "15px",
                  "padding-left": "50px",
                  "padding-right": "50px",
                  color: "#000",
                  "font-weight": "bold",
                },
                price: {
                  "font-family": "Open Sans, sans-serif",
                  color: "#fff",
                },
                compareAt: {
                  "font-family": "Open Sans, sans-serif",
                  color: "#fff",
                },
                unitPrice: {
                  "font-family": "Open Sans, sans-serif",
                  color: "#fff",
                },
              },
              buttonDestination: function (that) {
                // based on onButtonClick => buttonDestination === 'checkout'
                // https://github.com/Shopify/buy-button-js/blob/master/src/components/product.js#L647
                that._userEvent("openCheckout");
                that.props.tracker.track("Direct Checkout", {});
                let checkoutWindow;
                if (that.config.cart.popup) {
                  checkoutWindow = window.open("", "checkout");
                } else {
                  checkoutWindow = window;
                }
                const input = {
                  lineItems: [
                    {
                      variantId: that.selectedVariant.id,
                      quantity: that.selectedQuantity,
                    },
                  ],
                };

                that.props.client.checkout.create(input).then((checkout) => {
                  let suffix = "&";
                  if (checkout.webUrl.indexOf("?") === -1) suffix = "?";
                  const checkoutUrl = `https://bitcoinbook.shop/products/21-futures-tales-from-the-timechain?ref=${discountCode}`;
                  console.log(checkoutUrl);
                  checkoutWindow.location = checkoutUrl;
                });
              },
              contents: {
                options: false,
              },
              text: {
                button: "Buy now",
              },
              googleFonts: ["Open Sans"],
            },
            productSet: {
              styles: {
                products: {
                  "@media (min-width: 601px)": {
                    "margin-left": "-20px",
                  },
                },
              },
            },
            modalProduct: {
              contents: {
                img: false,
                imgWithCarousel: true,
                button: false,
                buttonWithQuantity: true,
              },
              styles: {
                product: {
                  "@media (min-width: 601px)": {
                    "max-width": "100%",
                    "margin-left": "0px",
                    "margin-bottom": "0px",
                  },
                },
                button: {
                  "font-family": "Open Sans, sans-serif",
                  ":hover": {
                    "background-color": "#dca120",
                  },
                  "background-color": "#f4b324",
                  ":focus": {
                    "background-color": "#dca120",
                  },
                  "border-radius": "15px",
                  "padding-left": "50px",
                  "padding-right": "50px",
                },
                title: {
                  "font-family": "Helvetica Neue, sans-serif",
                  "font-weight": "bold",
                  "font-size": "26px",
                  color: "#4c4c4c",
                },
                price: {
                  "font-family": "Helvetica Neue, sans-serif",
                  "font-weight": "normal",
                  "font-size": "18px",
                  color: "#4c4c4c",
                },
                compareAt: {
                  "font-family": "Helvetica Neue, sans-serif",
                  "font-weight": "normal",
                  "font-size": "15.299999999999999px",
                  color: "#4c4c4c",
                },
                unitPrice: {
                  "font-family": "Helvetica Neue, sans-serif",
                  "font-weight": "normal",
                  "font-size": "15.299999999999999px",
                  color: "#4c4c4c",
                },
              },
              googleFonts: ["Open Sans"],
              text: {
                button: "Add to cart",
              },
            },
            option: {},
            cart: {
              styles: {
                button: {
                  "font-family": "Open Sans, sans-serif",
                  ":hover": {
                    "background-color": "#dca120",
                  },
                  "background-color": "#f4b324",
                  ":focus": {
                    "background-color": "#dca120",
                  },
                  "border-radius": "15px",
                },
              },
              text: {
                total: "Subtotal",
                button: "Checkout",
              },
              googleFonts: ["Open Sans"],
            },
            toggle: {
              styles: {
                toggle: {
                  "font-family": "Open Sans, sans-serif",
                  "background-color": "#f4b324",
                  ":hover": {
                    "background-color": "#dca120",
                  },
                  ":focus": {
                    "background-color": "#dca120",
                  },
                },
              },
              googleFonts: ["Open Sans"],
            },
          },
        });
      });
    }
  })();
  /*]]>*/
</script>