---
export interface Props {
  narrow?: boolean;
}

const { narrow } = Astro.props;
---

<div class={`content__container ${narrow && `content__container--narrow`}`}>
  <slot />
</div>

<style>
  .content__container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    align-content: center;
    text-align: center;
  }

  .content__container--narrow {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 12px;
    align-content: center;
    text-align: center;
  }

  .content__container video {
    width: 100%;
    height: auto;
  }
</style>
