---
import { Icon } from 'astro-icon'
---

<!-- Footer section -->
<div class="footer-main">
    <div class="footer-container">
        <div class="footer-section">
            <h3><a href="/">Home</a></h3>
        </div>
        <div class="footer-section">
            <h3><a href="/stories">Stories</a></h3>
        </div>
        <div class="footer-section">
            <h3><a href="/authors">Authors</a></h3>
        </div>
        <div class="footer-section">
            <div class="social-icons">
                <a href="https://konsensus.network"><Icon name="ph:house" width="24" /></a>
                <a href="https://youtube.com/konsensusn"><Icon name="ph:youtube-logo-light" width="24" /></a>
                <a href="https://twitter.com/konsensusn"><Icon name="ph:twitter-logo" width="24" /></a>
                <a href="https://bitcoinbook.shop"><Icon name="ph:books" width="24" /></a>
            </div>
        </div>
    </div>
</div>

<style>
.footer-main {
    background-color: hsl(var(--color-theme));
    padding: 30px 0;  /* Reduced from 50px to reduce the total footer height */
}

.footer-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h3 {
    border-bottom: 2px solid hsl(var(--color-theme-900));
    padding-bottom: 10px;
    margin-bottom: 15px;  /* Reduced to 15px for tighter spacing */
    color: hsl(var(--color-theme-900));
}

.social-icons {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid hsl(var(--color-theme-900));
    padding-bottom: 10px;
}

.social-icons a {
    text-decoration: none;
    font-size: 24px;
    color: hsl(var(--color-theme-900));
    margin: 0 8px;  /* Reduced the margin for tighter icon spacing */
}
/* Responsive styles */
@media (max-width: 767px) {
    .footer-container {
        width: 90%;
        flex-direction: column; /* stack children vertically */
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px; /* space between sections on small screens */
        text-align: center; /* center content */
        padding: 0; /* reset padding */
    }

    .social-icons {
        justify-content: center; /* center icons */
    }

    .social-icons a {
        margin: 0 5px; /* reduce margin for smaller spacing on mobile */
    }
}

</style>