---
import { Icon } from 'astro-icon'
---

<!-- Footer section -->
<div class="footer-main">
    <div class="footer-container">
        <!-- <div class="footer-section">
            <h4><a href="/">Book</a></h4>
        </div>
        <div class="footer-section">
            <h4><a href="/stories">Stories</a></h4>
        </div>
        <div class="footer-section">
            <h4><a href="/authors">Authors</a></h4>
        </div> -->

        <div class="footer-section">
            <div class="social-icons">
                <a href="https://konsensus.network"><Icon name="ph:house" width="28" /></a>
                <a href="https://youtube.com/konsensusn"><Icon name="ph:youtube-logo-light" width="28" /></a>
                <a href="https://twitter.com/konsensusn"><Icon name="ph:twitter-logo" width="28" /></a>
                <a href="https://bitcoinbook.shop"><Icon name="ph:books" width="28" /></a>
            </div>
        </div>
    </div>
</div>

<style>
.footer-main {
    background-color: hsl(var(--color-theme));
    padding: 30px 0;  /* Reduced from 50px to reduce the total footer height */
}
.footer-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-section {
    flex: 1;
    max-width: 250px;
    padding: 0 20px;
    display: flex;           /* Add this */
    flex-direction: column;  /* Add this */
    justify-content: center; /* Vertically centers its children */
}
.footer-section h4 {
    font-weight: 'normal';
    color: hsl(var(--color-theme-900));
    text-align: center;
}
.footer-section a {
    font-size: 1.3em;
}
.social-icons {
    display: flex;
    justify-content: space-between;
}
.social-icons a {
    text-decoration: none;
    color: hsl(var(--color-theme-900));
    margin: 0 8px;  /* Reduced the margin for tighter icon spacing */
}
a:hover {
    color: hsl(var(--color-theme-600));
    transition: color 0.2s ease-in-out;
    
}
.social-icons a:hover {
    color: hsl(var(--color-theme-600));
    transition: color 0.2s ease-in-out;
}

/* Responsive styles */
@media (max-width: 767px) {
    .footer-container {
        width: 90%;
        flex-direction: column; /* stack children vertically */
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px; /* space between sections on small screens */
        text-align: center; /* center content */
        padding: 0; /* reset padding */
    }

    .social-icons {
        justify-content: center; /* center icons */
    }

    .social-icons a {
        margin: 0 5px; /* reduce margin for smaller spacing on mobile */
    }
}
</style>